<div class="sideBar">
    <img class="sideLogo" src="/images/logo/stock-high-resolution-logo-transparent.png" alt="Logo"/>
    <ul>
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/documents">Documents</a></li>
        <li><a href="/stock">Stock</a></li>
        <li>
            <% if (userDoc === 'Admin') { %>
                <a href="/users">Manage Users (Admin Only)</a>
            <% } %>
        </li>
        
        <div class="sideBtm">
            <li><a href="/account">My Account</a></li>
            <li><a href="/logout">Logout</a></li>
            <p>Stock+ &copy; 2025</p>
        </div>
        
    </ul>
</div>