<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/main.css"/>
    <link rel="icon" type="image/x-icon" href="images/logo/favicon.png">
    <title>Dashboard</title>
    <script src="http://unpkg.com/tone"></script>
</head>
<body>
    <header>
        <%- include('../partials/header') %>
    </header>
    <main id="dashboard">
        <h1>Good Evening - <%= user %></h1>
        <section class="stats">
            <div>
                <h1><%- stockCount %></h1>
            </div>

        </section>




        <section>
            <h3>Using DOM Manipulation</h3>
            <div class="container">
                <button class="add-button" onclick="addFn()">Add Input Field</button>
                <div id="inputFields"></div>
            </div>
            <script>
                function addFn() {
                    const divEle = document.getElementById("inputFields");
                    const wrapper = document.createElement("div");
                    const iFeild = document.createElement("input");
                    iFeild.setAttribute("type", "text");
                    iFeild.setAttribute("placeholder", "Enter value");
                    iFeild.classList.add("input-field");
                    wrapper.appendChild(iFeild);
                    divEle.appendChild(wrapper);
                }
            </script>
        </section>












        <section>
            <!-- <div class="container">
                <button class="add-button" onclick="addFn()">Add Product</button>
                <div id="inputFields">
                </div>
            </div>
            <script>
                function addFn() {
                    const divEle = document.getElementById("inputFields");
                    divEle.innerHTML += `
                <div>
                  <input type="text" placeholder="Product Name" class="input-field">
                  <input type="text" placeholder="Company" class="input-field">
                  <input type="text" placeholder="Product Code" class="input-field">
                  <input type="text" placeholder="RRP" class="input-field">
                  <input type="text" placeholder="Price" class="input-field">
                </div>
              `;
                }
            </script> -->
        </section>


    </main>
</body>
</html>