<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/main.css"/>
    <title>Dashboard</title>
</head>
<body>
    <header>
        <div class="sideBar">
            <img class="sideLogo" src="images/logo/stock-high-resolution-logo-transparent.png" alt="Logo"/>
            <ul>
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="/stock">Stock</a></li>
                <li><a href="">User</a></li>
                
                <div class="sideBtm">
                    <li><a href="/account">My Account</a></li>
                    <li><a href="/logout">Logout</a></li>
                    <li>Stock+ &copy; 2024</li>
                </div>
                
            </ul>
        </div>
    </header>
    <main id="dashboard">
        <h1>Good Evening - <%= user %></h1>
    </main>
</body>
</html>