<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/main.css"/>
    <link rel="icon" type="image/x-icon" href="images/logo/favicon.png">
    <title>Dashboard</title>
    <script src="http://unpkg.com/tone"></script>
</head>
<body>
    <header>
        <%- include('../partials/header') %>
    </header>
    <main id="dashboard">
        <h1>Good Evening - <%= user %></h1>
        <section class="stats">
            <div>
                <h1><%- stockCount %></h1>
            </div>

        </section>




       







    </main>
</body>
</html>