<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/main.css"/>
    <title>Dashboard</title>
    <script src="http://unpkg.com/tone"></script>
    <script>
        
        function playNote(){
            const synth = new Tone.PolySynth(Tone.Synth).toDestination();
            const now = Tone.now();
            synth.triggerAttack("D4", now);
            synth.triggerAttack("F4", now + 0.5);
            synth.triggerAttack("A4", now + 1);
            synth.triggerAttack("C5", now + 1.5);
            synth.triggerAttack("E5", now + 2);
        }
        
    </script>
</head>
<body>
    <header>
        <div class="sideBar">
            <img class="sideLogo" src="images/logo/stock-high-resolution-logo-transparent.png" alt="Logo"/>
            <ul>
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="/stock">Stock</a></li>
                <li><a href="/users">User</a></li>
                
                <div class="sideBtm">
                    <button onclick="playNote()">Click me to play note!</button>
                    <li><a href="/account">My Account</a></li>
                    <li><a href="/logout">Logout</a></li>
                    <p>Stock+ &copy; 2024</p>
                </div>
                
            </ul>
        </div>
    </header>
    <main id="dashboard">
        <h1>Good Evening - <%= user %></h1>
    </main>
</body>
</html>