<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/main.css"/>
    <link rel="icon" type="image/x-icon" href="images/logo/favicon.png">
    <title>Dashboard</title>
    <!-- <script src="http://unpkg.com/tone"></script> -->
</head>
<body>
    <header>
        <%- include('../partials/header') %>
    </header>
    <main id="dashboard">
        <h1>Dashboard</h1>
        <h1>Good Evening, <%= user %></h1>

        <section class="stats">
            <!-- Card 1 -->
            <div class="projectCard">
                <div class="projectImg">
                    <img src="/images/icons/boxes-stacked-solid.svg" alt=""/>
                </div>
                <div class="projectText">
                    <h2>Total Items</h2>
                    <p>
                        <%= totalStock %>
                    </p>
                </div>
                <div class="btn">
                    <button><a href="https://www.pandjlive.com/about/p-and-j-live/">Learn More</a></button>
                </div>
            </div>
            <!-- Card 2 -->
            <div class="projectCard">
                <div class="projectImg">
                    <img src="/css/images/aberdeen-hydrogen-bus.jpeg" alt=""/>
                </div>
                <div class="projectText">
                    <h2>H2 Aberdeen</h2>
                    <p>
                        H2 Aberdeen is working on bringing 
                        a new hydrogen econmey to Aberdeen...
                    </p>
                </div>
                <div class="btn">
                    <button><a href="https://www.aberdeencity.gov.uk/services/environment/h2-aberdeen">Learn More</a></button>
                </div>
            </div>
            <!-- Card 3 -->
            <div class="projectCard">
                <div class="projectImg">
                    <img src="/css/images/KincardineFarm.jpeg" alt=""/>
                </div>
                <div class="projectText">
                    <h2>Kincardine Wind Farm</h2>
                    <p>
                        The UK's largest offshore wind farm, 
                        off the coast of Aberdeenshire...
                    </p>
                </div>
                <div class="btn">
                    <button><a href="https://www.offshorewind.biz/2021/09/21/worlds-largest-floating-wind-farm-starts-operating-statkraft-buys-entire-output/">Learn More</a></button>
                </div>
            </div>
        </section>




       







    </main>
</body>
</html>