<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/main.css"/>
    <link rel="icon" type="image/x-icon" href="images/logo/favicon.png">
    <title>Dashboard</title>
    <script src="http://unpkg.com/tone"></script>
</head>
<body>
    <main>
        <section>
            <div class="center">
                <h1>Stock Deleted!</h1>
                <img src="images/7efs.gif" alt="">
                <p>Please wait to redirected</p>
            </div>

        </section>




       







    </main>
</body>
</html>