<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="scripts/stock.js"></script>
    <link rel="stylesheet" href="styles/main.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Text&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=delete" />
    <link rel="icon" type="image/x-icon" href="images/logo/favicon.png">
    <link rel="manifest" href="manifest.json">
    <title>Stock</title>
</head>
<body>
    <header>
        <%- include('../partials/header') %>
    </header>
    <main id="stock">
        <div>
            <form action="/createDoc" method="POST" >
                <input type="text" name="documentName" placeholder="Document Name">
                <select name="labelType">
                        <option value="Shelf">Shelf</option>
                        <option value="Arm">Arm</option>
                </select>
                <button>Create</button>
            </form>
        </div>
        <div class="stockHead">
           <h1>Documents - </h1> 
        </div>
        <div>
            <div>
                <% documents.forEach(function(documents) { %>
                    <div class="projectCard">
                        <div class="projectImg">
                            <img src="/images/background/docBackground.jpg" alt=""/>
                        </div>
                        <div class="projectText">
                            <h2><%= documents.documentName %></h2>
                            <h3>Lable Type - <%= documents.labelType %></h3>
                            <p><%= documents.published %></p>
                            
                        </div>
                        <div class="btn">
                            <button>Open</button>
                        </div>
                    </div>
                <% }); %>
            </div>
            
        </div>
    </main>
</body>
</html>