<!DOCTYPE html>
<html>
    <head>
        <title>StockPlus</title>
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="theme-color" content="#ffffff">
        <link rel="apple-touch-icon" href="styles/images/logo/UWP/ABZ_icon256.png">
        <link rel="icon" type="image/x-icon" href="images/logo/favicon.png>
        <link rel="stylesheet" href="styles/main.css"/>
    </head>
    <body>
        <div class="loginHero">
            <div class="loginLogo">
                <img src="images/logo/stock-high-resolution-logo-white-transparent.png" alt="Logo"/>
            </div>
        </div>
        <div class="login">
             
            <div class="loginForm">
                <form autocomplete="off" action="/login" method="post">
                    <div class="form-group">
                        <input type="text" name="username" class="form-control" placeholder="Username">
                    </div>    
                    <div class="form-group">
                        <input type="password" name="password" class="form-control" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary" value="Login"></input>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>