<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dashboard</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="apple-mobile-web-app-title" content="Stock+" />
    <link rel="stylesheet" href="styles/main.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="images/logo/favicon.png">
    <link rel="manifest" href="manifest.json">
</head>
<body>
    <header>
        <%- include('../partials/header') %>
    </header>
    <main id="dashboard">
       
        <section>
            <form action="" method="POST">
                <input type="text">
            </form>
        </section>

    </main>
</body>
</html>